*{
    margin: 0;
    padding:0;
     box-sizing: border-box;
}
.main{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(gym.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo{
    color:whitesmoke;
    padding: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}
.st{
    margin: 0px 220px;
    margin-top: -39px;
    color: orangered;
    font-weight:bold;
    font-family: sans-serif;
    background-color: rgb(5, 17, 17);
    width: 70px;
    font-size: 35px;
    
}
.nav ul li{
    list-style-type: none;
    
}
.nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -30px;
}
.nav ul a{
    text-decoration: none;
    margin: 10px;
    color: white;
   
}
.nav ul li a:hover{
  border-radius: 5px;
  color: black;
  background-color:chartreuse;
}
ul li ul.drop{
    display: block;
}
ul li ul.drop{
  width: 100%;
  position: absolute;
 background: bisque;
  display: none; 
}
ul li:hover ul.dropdown{
    display: block;
}
.si{
    border-radius: 10px;
    background-color: orangered;
}
.work{
    color: azure;
    text-align: center;
    margin: 20%;
   
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
#work{
    margin-right: -60px;
}
.gym{
    padding: 10px;
    line-height: 50px;
    font-size: 25px;
    
}
#gy{
    margin-right: -530px;
    color: orangered;
    margin-top: -50px;    
}
#member{
    font-size: 15px;
}
#member{
    animation:blinker 5s linear infinite;
    display: block;
    width: 20%;
    margin: 10px;
    margin-left: 350px;
    background-color: red ;
}
@keyframes blinker
{
    0%{opacity: 1s;}
    50%{opacity: 0;}
    100%{opacity: 1s;}
}
 .about{
    
    width: 100%;
    background-color: rgb(15, 15, 15);
}
.vid{
    width: 100%;
    background-size: cover;
    display: flex;
    margin: 0px 700px;
    margin-top: -200px;
   
} 
.para{
    color: aliceblue;
    margin: 10px;
}
h2{
    color: rgb(81, 244, 16);
    margin: 10px;
}
 .course{
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 10px ;
}
.img{
    margin:20px;
    margin-top: -10px;
    transition: all 2s;
}
.img:hover{
    transform: scale(1.3);
    z-index: 2; 
}
.shedule{
    background-color: rgb(14, 14, 14);
    width: 300px;
    height: 300px;
    margin: -310px  350px ;
    transition: all 2s;
}
.img1{
    margin: -10px 20px; 
    transition: all 2s;  
}
.img1:hover{
    transform: scale(1.3);
     z-index: 2;  
}
.contact{
    background-color: rgb(13, 14, 13);
    width: 300px;
    height: 300px;
    margin: -310px  690px ;
    transition: all 5s;
}
.img2{
    margin: -10px 20px;  
    transition: all 2s;
}
.img2:hover{
    transform: scale(1.3);
    z-index: 2; 
}
.form{
    background-color: rgb(13, 14, 13);
    width: 300px;
    height: 300px;
    margin: -310px 1020px ; 
}
.email{
    margin: 0px 60px;
    border-radius: 20px;
    padding: 10px;
    transition: all 2s;
}
.email:hover{
    transform: scale(1.5);
}
.password{
    margin: 10px 60px;
    border-radius: 20px;
    padding: 10px;
    transition: all 2s;  
}
.password:hover{
    transform: scale(1.3);
}
.option{
    color: rgb(112, 200, 245);
    font-size: 15px;
    margin: 10px 10px;
}
.for {
    margin: 36px;
    color: rgb(112, 200, 245);
    text-decoration: none;
} 
 .log{ 
     /* padding:8px 20px;
    border: none;
    outline: none;
    width:80%;
    background-color: rgb(12, 125, 206);
    color: rgb(215, 222, 228);
    border-radius: 20px;
    font-size: 0px;
    text-align: center;  */

    padding: 8px 20px; 
    width: 80%;
   border-radius: 20px;
   background-color: rgb(12,125,206);
   text-align: center;
   margin: 20px 30px; 
      transition: all 2s; 
}  
 .log:hover{
    transform: scale(1.2);
    z-index: 1;   
}  

.card{
    background-color: aquamarine;
    height: 300px;
}
.footer{
    margin:300px 0px;
    background-color: aqua;
    text-align: center;
}
.apps{
    width: 20%;
    margin: 0px 30px;
    display: block;
        
}
.in{
    border-radius: 15px; 
       
}
.fb{
    border-radius: 10px; 
}
.teli{
    border-radius: 10px; 
}


.down{
    background-color: rgb(6, 6, 6);
     margin: 330px 0px; 
     height: 200px;
}
.down ul li a{
    color: aliceblue;
}
.down ul li a:hover{
   color: red;
}
.down h2{
    color: rgb(15, 245, 42);
    padding: 20px;  
    text-transform: uppercase;
    text-decoration: underline; 
}
.my {
    list-style-type: none;
    margin: -30px 30px;
    line-height: 30px;
}
.loc {
    margin: -145px 500px;
}
.my li a{
    text-decoration: none;
}

.state {
  list-style-type: none;
  margin: -25px 30px;
  line-height: 30px;
}
.state li a{
    text-decoration: none;
}
.con{
    margin: -145px 900px; 
}
.info{
    list-style-type: none;
    margin: -25px 30px;
    line-height: 30px;
}
.con ul li a{
    text-decoration: none;
}
.con li a:hover{
    color: red;
}



 


